{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>hydro-technika.net</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.min.css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
</head>
<body style="width: auto">
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target py-0" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'img/logo2.png'%}" style="height: 75px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"><i class="fas fa-bars text-white"></i></span> Menu
    </button>

    <div class="collapse navbar-collapse " id="ftco-nav">
      <ul class="navbar-nav nav ml-auto">
         {% if user.is_authenticated %}
        <li class="nav-item my-2 px-sm-1 px-lg-3 border-right border-light text-uppercase font-weight-bold"><a href="{%url 'home'%}" class="nav-link"><span>Strona główna</span></a></li>
        <li class="nav-item my-2 px-sm-1 px-lg-3 border-right border-light text-uppercase font-weight-bold"><a href="{%url 'profile'%}" class="nav-link"><span>Profil</span></a></li>
        <li class="nav-item my-2 px-sm-1 px-lg-3 border-right border-light text-uppercase font-weight-bold"><a href="{%url 'post-list'%}" class="nav-link"><span>Lista wpisów</span></a></li>
        <li class="nav-item my-2 px-sm-1 px-lg-3 border-right border-light text-uppercase font-weight-bold"><a href="{%url 'upload'%}" class="nav-link"><span>Dodaj Zdjecie</span></a></li>
        <li class="nav-item my-2 px-sm-1 px-lg-3 border-right border-light text-uppercase font-weight-bold"><a href="{%url 'logout'%}" class="nav-link"><span>Wyloguj</span></a></li>
          {% else %}
        <li class="nav-item my-2 px-sm-1 px-lg-3 border-right border-light text-uppercase font-weight-bold"><a href="{%url 'home'%}" class="nav-link"><span>Strona główna</span></a></li>
        <li class="nav-item my-2 px-sm-1 px-lg-3 border-right border-light text-uppercase font-weight-bold"><a href="{%url 'about'%}" class="nav-link"><span>O firmie</span></a></li>
        <li class="nav-item my-2 px-sm-1 px-lg-3 border-right border-light text-uppercase font-weight-bold"><a href="{%url 'offer'%}" class="nav-link"><span>Oferta</span></a></li>
        <li class="nav-item my-2 px-sm-1 px-lg-3 border-right border-light text-uppercase font-weight-bold"><a href="{%url 'gallery'%}" class="nav-link"><span>Galeria</span></a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<div class="mynav d-block d-lg-none" >
  <div style="height:500px; background: linear-gradient(90deg, #0062b7, #51aafa); opacity: .6; width: 100%;"></div>
</div>

<div class=" d-none d-lg-block card card-image" style="height:550px; background-image: url('../static/img/bg-nav.jpg'); ">
  <div class="text-white text-center rgba-stylish-strong py-5 px-4" style="height:550px; background: linear-gradient(90deg, #0062b7, #51aafa); opacity: .8; ">
    <div class="py-5">
      <img src="{% static 'img/logo2.png'%}" style="height: 200px; opacity: 1;">
      <h2 class="card-title h2 my-4 py-2">Tytuł sekcji</h2>
      <p class="mb-4 pb-2 px-md-5 w-50 mx-auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur obcaecati vero aliquid libero doloribus ad, unde tempora maiores, ullam, modi qui quidem minima debitis perferendis vitae cumque et quo impedit.</p>
    </div>
  </div>
</div>

  <div class="row mx-0">
      {% block content %}{% endblock %}
  </div>

<!-- Footer -->
<footer class="page-footer font-small footer-template">
  <div class="container">
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a  style="text-decoration: none;" href="{% url 'home' %}">Strona główna</a>
        </h6>
      </div>
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a  style="text-decoration: none;" href="{%url 'about' %}">O firmie</a>
        </h6>
      </div>
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a  style="text-decoration: none;" href="{%url 'offer' %}">Oferta</a>
        </h6>
      </div>
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a  style="text-decoration: none;" href="{%url 'gallery' %}">Galeria</a>
        </h6>
      </div>
    </div>
    <hr class="rgba-white-light" style="margin: 0 15%;">
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
      <div class="col-md-8 col-12 mt-5">
        <p style="line-height: 1.7rem">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem
          aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
          explicabo.
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
      </div>
    </div>
    <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
  </div>
  <div class="footer-copyright text-center py-3"><small style="color: white; float: left; margin-left: 150px;">&copy; Copyright 2019, Hydro-technika</small>
    <small style="color: white; float: right; margin-right: 150px;">Projekt i wykonanie: Michał Parzych</small></a>
  </div>
</footer>
<!-- Footer -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="{% static 'js/scrollax.min.js'%}"></script>
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script src="{% static 'js/jquery-migrate-3.0.1.min.js'%}"></script>
    <script src="{% static 'js/jquery.stellar.min.js'%}"></script>
    <script src="{% static 'js/owl.carousel.min.js'%}"></script>
    <script src="{% static 'js/aos.js'%}"></script>
    <script src="{% static 'js/main.js'%}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/js/tether.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>

    <script type="text/javascript">
      $(document).on("click", '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
      });
    </script>

</body>
</html>