{% extends "main/base.html" %}
{%  load static %}
{% block content %}

    <style>
    :root{
        --shadow: 0 11px 9px rgba(129, 127, 127, 0.7);
    }
    </style>

    <!-- Container -->
<div class="container my-5">

  <!-- Jumbotron -->
  <div class="row bg-white my-5 py-5" style="box-shadow: var(--shadow);">
    <div class="jumbotron text-center hoverable p-4 bg-white">
      <div class="row">
        <div class="col-md-4 offset-md-1 mx-3 my-3">
          <div class="view overlay">
            <img src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg" class="img-fluid" alt="Sample image for first version of blog listing">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <div class="col-md-7 ml-3 mt-3">
            {% for post in posts %}
                {% if post.id == 8 %}
                    <h4 class="h4 mb-4 font-weight-bold">{{ post.title }}</h4>
                    <p class="font-weight-normal" style="white-space: pre-line; text-align: justify; text-justify: inter-word;">{{ post.content }}</p>
                {% endif %}
            {% endfor %}
        </div>
      </div>
    </div>
    <div class="jumbotron text-center hoverable p-4 bg-white">
      <div class="row">
        <div class="col-md-7 ml-3 mt-3">
            {% for post in posts %}
                {% if post.id == 9 %}
                    <h4 class="h4 mb-4 font-weight-bold">{{ post.title }}</h4>
                    <p class="font-weight-normal" style="white-space: pre-line; text-align: justify; text-justify: inter-word;">{{ post.content }}</p>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-4 offset-md-1 mx-3 my-3">
          <div class="view overlay">
            <img src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg" class="img-fluid" alt="Sample image for first version of blog listing">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="jumbotron text-center hoverable p-4 bg-white">
      <div class="row">
        <div class="col-md-11 mx-auto ml-3 mt-3">
            {% for post in posts %}
                {% if post.id == 10 %}
                    <h4 class="h4 mb-4 font-weight-bold">{{ post.title }}</h4>
                    <p class="font-weight-normal" style="white-space: pre-line; text-align: justify; text-justify: inter-word;">{{ post.content }}</p>
                {% endif %}
            {% endfor %}
        </div>
      </div>
    </div>
    </div>
<!-- .Jumbotron -->

</div>
<!-- .Container -->
{% endblock content %}