{% extends "core/base.html" %}
{% load static %}
{% block content %}
    <div class="square1"></div>
    <div class="square2"></div>
    <div class="row" style="max-width: 100%;">
        <section class="counter section bannerText"
                 style="max-width: 1400px;margin-bottom: 70px;padding: 0 20px 20px 15px;background-color: transparent;margin-top: 150px;">
            <div class="row" style="width: 100%;">
                <div class="col-4 p-0">
                    <img class="img-fluid mb-4 mb-lg-0" src="{% static 'core/img/f5.png' %}" alt="">
                </div>
                <div class="col-1"></div>
                <div class="col-7">
                    {% if request.user.is_authenticated %}
                        {% include "core/includes/paragraphForm.html" with paragraph=paragraph1 mySlug="about_1" subtitle=False link=False %}
                    {% else %}
                        <h2>{{ paragraph1.title }}</h2><br>
                        <p class="myText">{{ paragraph1.content }}</p>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-6 col-lg-3 justify-content-center counter-wrap animate d-flex">
                            <div class="block text-center p-4 mb-4 align-self-stretch d-flex">
                                <div class="text">
                                    <strong class="count count-title count-number number">{{ years }}</strong>
                                    <span>Lata Doświadczenia</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 justify-content-center counter-wrap animate d-flex">
                            <div class="block text-center py-4 px-3 mb-4 align-self-stretch d-flex">
                                <div class="text">
                                    <strong class="count count-title count-number number">1573</strong>
                                    <span>Skończonych projektów</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 justify-content-center counter-wrap animate d-flex">
                            <div class="block text-center py-4 px-3 mb-4 align-self-stretch d-flex">
                                <div class="text">
                                    <strong class="count count-title count-number number">2890</strong>
                                    <span>Zadowolonych klientów</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 justify-content-center counter-wrap animate d-flex">
                            <div class="block text-center py-4 px-3 mb-4 align-self-stretch d-flex">
                                <div class="text">
                                    <strong class="count count-title count-number number">2</strong>
                                    <span>Lata Gwarancji</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="row align-items-center bannerText" style="max-width: 1400px; transform: translateX(-50px);">
        <div class="col mx-5">
            {% if request.user.is_authenticated %}
                {% include "core/includes/paragraphForm.html" with paragraph=paragraph1 mySlug="about_1" subtitle=False link=False %}
            {% else %}
                <h2>{{ paragraph2.title }}</h2><br>
                <p class="myText">{{ paragraph2.content }}</p>
            {% endif %}
        </div>
        <div class="col">
            <img class="img-fluid " src="{% static 'core/img/home_1.png' %}" id="floated">
        </div>
    </div>
{% endblock content %}
{% block javascript %}
    <script src="{% static 'core/js/ajax.js' %}"></script>
{% endblock %}