{% extends "core/base.html" %}
{% load static %}
{% block content %}

    <div class="square1"></div>
    <div class="square2"></div>

    <div class="row" style="min-width: 100%; margin-right: 0;
    margin-left: 0;" >
        <section class="counter"
                 style=" background-color: transparent; margin: 150px auto 70px; min-width: 80%;">
            <div class="row" style="width: 100%;">
                <div class="col-5 p-0">
                    {% if not paragraph1.image %}
                    <img class="img-fluid mb-4 mb-lg-0" src="http://via.placeholder.com/400x600" alt="">
                    {%  else %}
                    <img class="mb-4 mb-lg-0" style="max-height: 600px;" src="{{ paragraph1.image.url }}" alt="">
                    {% endif %}
                </div>

                <div class="col-7">
                    {% if request.user.is_authenticated %}
                        {% include "core/includes/paragraphForm.html" with paragraph=paragraph1 mySlug="about_1" subtitle=False link=False image=True%}
                    {% else %}
                        <h2>{{ paragraph1.title }}</h2><br>
                        <p class="myText" style="white-space: pre-line">{{ paragraph1.content }}</p>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <div class="row mt-5">
                            <div class="col-md-8 justify-content-center counter-wrap mx-auto">
                                <div class="block text-center p-4 mb-4">
                                    <form method="post" data-url_root="{% url 'core:create_box' %}" id="boxForm">
                                        {% csrf_token %}
                                        <label for="id_title">Tytuł:</label>
                                        <input class="clearTitle" type="text" name="title" maxlength="30" required=""
                                               id="id_title">
                                        <label for="id_amount" class="amount">Ilość:</label>
                                        <input class="amount" type="number" name="amount" required="" id="id_amount">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name="experience"
                                                   id="id_experience">
                                            <label class="custom-control-label" for="id_experience">Lata
                                                doświadczenia</label>
                                        </div>
                                        <button id="saveButton" type="submit" class="main_btn mt-4">Zapisz</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        {% for box in boxes %}
                            <div class="col-md-6 col-lg-3 justify-content-center">{% if request.user.is_authenticated %}
                                <form method="post" action="{% url 'core:box_delete' box.pk %}"
                                      style="margin-right: 10%; margin-top: 30%;">
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <button type="submit" class="close">
                                        <span aria-hidden="true" style="color: #183E74;">&times;</span>
                                    </button>
                                </form>
                            {% endif %}
                                <div class="block text-center p-4 mb-4 ">
                                    <div class="text">
                                        {% if box.experience %}
                                            <strong class="count count-title count-number number">{{ date }}</strong>
                                        {% else %}
                                            <strong class="count count-title count-number number">{{ box.amount }}</strong>
                                        {% endif %}
                                        <span>{{ box.title }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="row align-items-center bannerText" style="max-width: 1400px; transform: translateX(-50px);">
        <div class="col mx-5">
            {% if request.user.is_authenticated %}
                {% include "core/includes/paragraphForm.html" with paragraph=paragraph2 mySlug="about_2" subtitle=False link=False image=True%}
            {% else %}
                <h2>{{ paragraph2.title }}</h2><br>
                <p class="myText" style="white-space: pre-line">{{ paragraph2.content }}</p>
            {% endif %}
        </div>
        <div class="col">
            {% if not paragraph2.image %}
            <img class="img-fluid mb-4 mb-lg-0" src="http://via.placeholder.com/640x360" alt="">
            {%  else %}
            <img class="img-fluid mb-4 mb-lg-0" src="{{ paragraph2.image.url }}" alt="">
            {% endif %}
        </div>
    </div>
{% endblock content %}
{% block javascript %}
    <script src="{% static 'core/js/ajax.js' %}"></script>

    <script>
        $(function () {
            let checkbox = document.querySelector("input[name=experience]");
            let disable = document.getElementsByClassName("amount");
            $(checkbox).on('click', function () {
                if ($(this).is(':checked')) {
                    $(disable).attr('disabled', true);
                    $(disable).hide('slow');
                } else {
                    $(disable).attr('disabled', false);
                    $(disable).show('slow');
                }
            });
        });

        $("#saveButton").on('click', function (event) {
            event.preventDefault();
            let form = $(this).closest("form");
                                console.log(form.serialize());
            $.ajax({
                url: form.attr("data-url_root"),
                data: form.serialize(),
                dataType: 'json',
                success: function (json) {
                    $('#boxForm')[0].reset();
                },
                error: function (xhr, errmsg, err) {
                }
            });
        });

    </script>
{% endblock %}