{% extends 'core/base.html' %}
{% load static %}
{% block javascript %}
    <script src="{% static 'core/js/jquery-file-upload/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'core/js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'core/js/jquery-file-upload/jquery.fileupload.js' %}"></script>
    <script src="{% static 'core/js/jquery-file-upload/upload.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.tz-gallery');
    </script>
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Zapisuję zdjęcia...</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 0;">0%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row container mx-auto mb-5" style="max-width: 90%;">
            <div class="col-12 col-md-8">
                <div class="text-muted bg-grey text-center" style="padding-top: 4rem; padding-bottom: 4rem;">
                    <h3>
                        <span style="font-size: 4rem; min-width: 450px; min-height: 450px; ">
                            <i class="fas fa-download"></i>
                        </span>
                        <br>
                        Przeciągnij zdjęcie tutaj aby je dodać</h3>
                </div>
                <input id="fileupload" type="file" name="file" multiple
                       style="display: none;"
                       data-url="{% url 'core:gallery' %}"
                       data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}", "path":"{{ request.path }}"}'>
                <div class="row mt-5">
                    <form class="animateForm mx-auto" method="post" action="{% url 'core:clear' %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <input type="hidden" name="model" value="Image">
                        <button class="main_btn ml-3" type="submit"> Usuń wszystko</button>
                    </form>
                </div>
            </div>
            <div class="col">
                <table id="gallery" class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Zdjęcia</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for photo in photos %}
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col"><img src="{{ photo.file.url }}" style="max-height: 100px;" alt="">
                                    </div>
                                    <div class="col">
                                        <form method="post" action="{% url 'core:upload_delete' photo.pk %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="next" value="{{ request.path }}">
                                            <button type="submit" class="close">
                                                <span aria-hidden="true" style="color: red;">Usuń &times;</span>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <div style="max-width: 80%; margin: 0 auto;">
            <div class="tz-gallery">
                <div class="row">
                    {% for photo in photos %}
                        <div class="col-sm-6 col-md-2">
                            <a class="lightbox" href="{{ photo.file.url }}">
                                <img src="{{ photo.file.url }}" alt="Park">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
