{% extends "core/base.html" %}
{% load static %}
{% block content %}
    <div class="bannerText">
        {% if request.user.is_authenticated %}
            {% include "core/includes/paragraphForm.html" with paragraph=paragraph1 mySlug="home_1" subtitle=True link=True image=True %}
        {% else %}
            <h2>{{ paragraph1.title }}</h2><br>
            <h3>{{ paragraph1.subtitle }}</h3>
            <p class="myText" style="white-space: pre-line">{{ paragraph1.content }}</p>
            <a href="{{ paragraph1.link }}" class="main_btn">Dowiedz się więcej &rarr;</a>
        {% endif %}
    </div>
    {% if not paragraph1.image %}
        <img class="bulb" src="http://via.placeholder.com/900x500" alt="">
    {% else %}
        <img src=" {{ paragraph1.image.url }} " class="bulb">
    {% endif %}

    <div class="square1"></div>
    <div class="square2"></div>

    <section class="feature-area section_gap_top">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="single-feature">
                                {% if request.user.is_authenticated %}
                                    <div class="feature-img">
                                        {% if paragraph2.image %}
                                            <img class="whiteImage" src="{{ paragraph2.image.url }}" alt="">
                                        {% endif %}

                                    </div>
                                    {% include "core/includes/paragraphForm.html" with paragraph=paragraph2 mySlug="home_2" subtitle=False link=True image=True %}
                                {% else %}
                                    <div class="feature-img">
                                        {% if paragraph2.image %}
                                            <img class="whiteImage" src="{{ paragraph2.image.url }}" alt="">
                                        {% endif %}
                                    </div>
                                    <h4>{{ paragraph2.title }}</h4>
                                    <p>
                                        {{ paragraph2.content }}
                                    </p>
                                    <a href="{{ paragraph2.link }}">Dowiedz się więcej &rarr;</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single-feature">
                                {% if request.user.is_authenticated %}
                                    <div class="feature-img">
                                        {% if paragraph3.image %}
                                            <img class="whiteImage" src="{{ paragraph3.image.url }}" alt="">
                                        {% endif %}
                                    </div>
                                    {% include "core/includes/paragraphForm.html" with paragraph=paragraph3 mySlug="home_3" subtitle=False link=True image=True %}
                                {% else %}
                                    <div class="feature-img">
                                       {% if paragraph3.image %}
                                            <img class="whiteImage" src="{{ paragraph3.image.url }}" alt="">
                                        {% endif %}
                                    </div>
                                    <h4>{{ paragraph3.title }}</h4>
                                    <p>
                                        {{ paragraph3.content }}
                                    </p>
                                    <a href="{{ paragraph3.link }}">Dowiedz się więcej &rarr;</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single-feature">
                                {% if request.user.is_authenticated %}
                                    <div class="feature-img">
                                        {% if paragraph4.image %}
                                            <img class="whiteImage" src="{{ paragraph4.image.url }}" alt="">
                                        {% endif %}
                                    </div>
                                    {% include "core/includes/paragraphForm.html" with paragraph=paragraph4 mySlug="home_4" subtitle=False link=True image=True %}
                                {% else %}
                                    <div class="feature-img">
                                         {% if paragraph4.image %}
                                            <img class="whiteImage" src="{{ paragraph4.image.url }}" alt="">
                                        {% endif %}
                                    </div>
                                    <h4>{{ paragraph4.title }}</h4>
                                    <p>
                                        {{ paragraph4.content }}
                                    </p>
                                    <a href="{{ paragraph4.link }}">Dowiedz się więcej &rarr;</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single-feature">
                                {% if request.user.is_authenticated %}
                                    <div class="feature-img">
                                         {% if paragraph5.image %}
                                            <img class="whiteImage" src="{{ paragraph5.image.url }}" alt="">
                                        {% endif %}
                                    </div>
                                    {% include "core/includes/paragraphForm.html" with paragraph=paragraph5 mySlug="home_5" subtitle=False link=True image=True %}
                                {% else %}
                                    <div class="feature-img">
                                         {% if paragraph5.image %}
                                            <img class="whiteImage" src="{{ paragraph5.image.url }}" alt="">
                                        {% endif %}
                                    </div>
                                    <h4>{{ paragraph5.title }}</h4>
                                    <p>
                                        {{ paragraph5.content }}
                                    </p>
                                    <a href="{{ paragraph5.link }}">Dowiedz się więcej &rarr;</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 offset-md-0 col-md-12 text-left section-title-wrap mt-4 mt-lg-0">
                    {% if request.user.is_authenticated %}
                        {% include "core/includes/paragraphForm.html" with paragraph=paragraph6 mySlug="home_6" subtitle=True link=True image=False %}
                    {% else %}
                        <h5>{{ paragraph6.title }}</h5>
                        <h3>{{ paragraph6.subtitle }}</h3>
                        <p>
                            {{ paragraph6.content }}
                        </p>
                        <a href="{{ paragraph6.link }}" class="main_btn">Dowiedz się więcej &rarr;</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block javascript %}
    <script src="{% static 'core/js/ajax.js' %}"></script>
{% endblock %}
