{% extends "core/base.html" %}
{% load static %}
{% block content %}
    <div class="bannerText">
        {% if request.user.is_authenticated %}
            {% include "includes/paragraphForm.html" with paragraph=paragraph1 mySlug="home_1" subtitle=True %}
        {% else %}
            <h2>{{ paragraph1.title }}</h2><br>
            <h3>{{ paragraph1.subtitle }}</h3>
            <p class="myText">{{ paragraph1.content }}</p>
            <a href="#" class="main_btn">Read More</a>
        {% endif %}
    </div>

    <img src="{% static 'core/img/home_1.png' %}" class="bulb">
    <div class="square1"></div>
    <div class="square2"></div>

    <section class="feature-area section_gap_top">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="single-feature">
                                {% if request.user.is_authenticated %}
                                    <div class="feature-img">
                                        <img src="{% static 'core/img/home_2.png' %}" alt="">
                                    </div>
                                    {% include "includes/paragraphForm.html" with paragraph=paragraph2 mySlug="home_2" subtitle=False %}
                                {% else %}
                                    <div class="feature-img">
                                        <img src="{% static 'core/img/home_2.png' %}" alt="">
                                    </div>
                                    <h4>{{ paragraph2.title }}</h4>
                                    <p>
                                        {{ paragraph2.content }}
                                    </p>
                                    <a href="#">Find your cargo</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single-feature">
                                {% if request.user.is_authenticated %}
                                    <div class="feature-img">
                                        <img src="{% static 'core/img/home_3.png' %}" alt="">
                                    </div>
                                    {% include "includes/paragraphForm.html" with paragraph=paragraph3 mySlug="home_3" subtitle=False %}
                                {% else %}
                                    <div class="feature-img">
                                        <img src="{% static 'core/img/home_3.png' %}" alt="">
                                    </div>
                                    <h4>{{ paragraph3.title }}</h4>
                                    <p>
                                        {{ paragraph3.content }}
                                    </p>
                                    <a href="#">Contact Us</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single-feature">
                                {% if request.user.is_authenticated %}
                                    <div class="feature-img">
                                        <img src="{% static 'core/img/home_4.png' %}" alt="">
                                    </div>
                                    {% include "includes/paragraphForm.html" with paragraph=paragraph4 mySlug="home_4" subtitle=False %}
                                {% else %}
                                    <div class="feature-img">
                                        <img src="{% static 'core/img/home_4.png' %}" alt="">
                                    </div>
                                    <h4>{{ paragraph4.title }}</h4>
                                    <p>
                                        {{ paragraph4.content }}
                                    </p>
                                    <a href="#">Start a quote</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single-feature">
                                {% if request.user.is_authenticated %}
                                    <div class="feature-img">
                                        <img src="{% static 'core/img/home_5.png' %}" alt="">
                                    </div>
                                    {% include "includes/paragraphForm.html" with paragraph=paragraph5 mySlug="home_5" subtitle=False %}
                                {% else %}
                                    <div class="feature-img">
                                        <img src="{% static 'core/img/home_5.png' %}" alt="">
                                    </div>
                                    <h4>{{ paragraph5.title }}</h4>
                                    <p>
                                        {{ paragraph5.content }}
                                    </p>
                                    <a href="#">Get Estimate</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div id="secondDiv"
                     class="col-lg-5 offset-md-0 col-md-12 text-left section-title-wrap mt-4 mt-lg-0">
                    {% if request.user.is_authenticated %}
                        {% include "includes/paragraphForm.html" with paragraph=paragraph6 mySlug="home_6" subtitle=True %}
                    {% else %}
                        <h5>{{ paragraph6.title }}</h5>
                        <h3>{{ paragraph6.subtitle }}</h3>
                        <p>
                            {{ paragraph6.content }}
                        </p>
                        <a href="#" class="main_btn">Learn More About Us</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

{% block javascript %}

    <script>

        $("form").change(function (event) {
            event.preventDefault();
            console.log("start!");
            let form = $(this).closest("form");
            console.log("create post is working!")
            $.ajax({
                url: form.attr("data-url_root"),
                data: form.serialize(),
                dataType: 'json',
                success: function (json) {},
                error: function (xhr, errmsg, err) {
                    $('#results').html("<div class='alert-box warning radius' data-alert>Oops! We have encountered an error: " + errmsg +
                        " <a href='#' class='close'>&times;</a></div>");
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        });

    </script>

{% endblock %}
