{% extends "core/base.html" %}
{% load static %}
{% block content %}

    <div class="square1"></div>
    <div class="square2"></div>

    <section class="feature-area section_gap_top" style="margin: 150px 0 0 0;">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-7">
                    {% if request.user.is_authenticated %}
                        <div class="row">
                            <div class="col-12 px-5">
                                <form id="offerForm" method="post" enctype="multipart/form-data"
                                      data-url_root="{% url 'core:create_offer' %}">
                                    {% csrf_token %}
                                    <div class="feature-service " style="width: 100%;">
                                        <div class="icon" style="margin-top: 30px;">
                                            <label for="id_image" class="customImageInput"
                                                   style="max-width: 80px; max-height: 80px; margin: 0;">
                                                <i class="fas fa-plus"></i>
                                            </label>
                                            <input type="file" name="image" required="" id="id_image"
                                                   style="display: none;" onchange="previewFile()">
                                        </div>
                                        <div class="icon" style="margin-top:170px;">
                                            <img id="currentImage" src="" alt=""
                                                 style="  filter: brightness(0) invert(1);">
                                        </div>
                                        <div class="text">
                                            <label for="id_title">Tytuł:</label>
                                            <input type="text" name="title" maxlength="100" required="" id="id_title"
                                                   style="margin-bottom: 20px;">
                                            <label for="id_content">Treść:</label>
                                            <input type="text" name="content" maxlength="300" required=""
                                                   id="id_content" style="margin-bottom: 20px;">
                                            <button type="submit" class="main_btn">Zapisz</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    {% else %}
                        <div class="owl-carousel owl-theme">
                            <div class="row">
                                {% for offer in offers %}
                                    <div class="col-12 px-5">
                                        <div class="feature-service ">
                                            <div class="icon">
                                                <img class="whiteImage" src="{{ offer.image.url }}" alt="">
                                            </div>
                                            <div class="text">
                                                <h3>{{ offer.title }}</h3>
                                                <p>{{ offer.content }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    {% if forloop.counter|divisibleby:4 %}</div>
                                        <div class="row">{% endif %}
                                {% endfor %}
                                </div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-lg-5 offset-md-0 col-md-12 text-left section-title-wrap mt-4 mt-lg-0">
                    {% if request.user.is_authenticated %}
                        {% include "core/includes/paragraphForm.html" with paragraph=paragraph1 mySlug="offer_1" subtitle=False link=False %}
                    {% else %}
                        <h3>{{ paragraph1.title }}</h3><br>
                        <p class="myText">{{ paragraph1.content }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    {% if request.user.is_authenticated %}
        <div style="max-width: 70%; margin: auto;">
            <div class="row">
                <button class="main_btn animateButton" type="button" data-toggle="collapse" data-target="#collapse"
                        aria-expanded="false"
                        aria-controls="collapse"> Pokaż pozostałe elementy
                </button>
                <form class="animateForm" method="post" action="{% url 'core:clear' %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <input type="hidden" name="model" value="Offer">
                    <button class="main_btn ml-3" type="submit"> Usuń wszystko</button>
                </form>
            </div>
            <div id="collapse" class="collapse multi-collapse">
                <div id="offers" class="row container mt-5">
                    {% for offer in offers %}
                        <div class="col-6 px-5">
                            <div class="feature-service" style="width: 100%;">
                                <div class="row">
                                    <div class="icon">
                                        <img class="whiteImage" src="{{ offer.image.url }}" alt="">
                                    </div>
                                    <div class="col-10">
                                        <div class="text">
                                            <h3>{{ offer.title }}</h3>
                                            <p>{{ offer.content }}</p>
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <form method="post" action="{% url 'core:offer_delete' offer.pk %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="next" value="{{ request.path }}">
                                            <button type="submit" class="close">
                                                <span aria-hidden="true" style="color: red;">&times;</span>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div id="cardDiv" class="text-white my-5 py-4 text-center mx-auto"
                             style="background: #183E74; z-index: 1;">
                            <div class="card-body ">
                                <p class="text-white m-0" style="animation-delay: 0s;">Nie stworzono jeszcze żadnych
                                    elementów opisujących oferty firmy.</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="bannerText" style="max-width: 70%; margin: 150px auto;">
        {% if request.user.is_authenticated %}
            {% include "core/includes/paragraphForm.html" with paragraph=paragraph1 mySlug="offer_2" subtitle=False link=False %}
        {% else %}
            <h2>{{ paragraph2.title }}</h2><br>
            <p class="myText">{{ paragraph2.content }}</p>
        {% endif %}
    </div>
{% endblock content %}
{% block javascript %}
    <script>

        function upload(event) {
            event.preventDefault();
            let data = new FormData($('form').get(0));

            $.ajax({
                url: $(this).attr('data-url_root'),
                type: 'POST',
                data: data,
                cache: false,
                processData: false,
                contentType: false,
                success: function (data) {
                    try {
                        $("#cardDiv").fadeToggle(1000);
                        document.getElementById("id_title").value = "";
                        document.getElementById("id_content").value = "";

                        let preview = document.getElementById('currentImage');
                        preview.src = "";
                    } catch (error) {
                    }
                    if (data.is_valid) {
                        setTimeout(function () {
                            $("#offers").prepend(
                                "<div class=\"col-6 px-5\">\n" +
                                "<div class=\"feature-service \">\n" +
                                "<div class=\"icon\">\n"
                                + "<img src=\" " + data.image + " \" class='whiteImage' alt=''></div>\n"
                                + "<div class=\"text\">\n" +
                                " <h3>" + data.title + "</h3>\n" +
                                "<p>" + data.content + "</p>\n" +
                                "</div>\n" +
                                "</div>\n" +
                                "</div>\n"
                            )
                        }, 1000);
                    }

                }
            });
            return false;
        }

        $(function () {
            $('#offerForm').submit(upload);
        });

        function previewFile() {
            let preview = document.getElementById('currentImage');
            let file = document.querySelector('input[type=file]').files[0];
            let reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
            }

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "";
            }
        }
    </script>
    <script src="{% static 'core/js/ajax.js' %}"></script>
{% endblock %}