<header>
    <div class="header">
        <p class="logo">Your Logo</p>
        <i class="fa fa-bars x2" onclick="menuToggle()"></i>
        <ul id="navigation">

            <li>
                <a href="{% url 'core:home' %}" name="home">Strona główna</a>
            </li>
            <li>
                <a href="{% url 'core:about' %}" name="about">O firmie</a>
            </li>
            <li>
                <a href="{% url 'core:offer' %}" name="offer">Oferta</a>
            </li>
            <li>
                <a href="{% url 'core:gallery' %}" name="gallery">Galeria</a>
            </li>
            <li>
                <a href="#" name="contact">Kontact</a>
            </li>
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}" name="logout">Wyloguj</a>
                </li>

            {% endif %}
            <i class="fa fa-times x2" onclick="menuToggle()"></i>
        </ul>
    </div>
</header>