{% load static %}
<form method="POST" class="form-group animateForm" data-url_root="{% url 'core:create' %}"
      enctype="multipart/form-data">
    {% csrf_token %}

    <label for="id_title" class="requiredField">Tytuł: </label>
    <input type="text" name="title" maxlength="100" required id="id_title"
           value="{{ paragraph.title }}">
    <input type="text" name="slug" required id="id_slug" class="d-none"
           value="{{ mySlug }}">
    {% if subtitle %}
        <label for="id_subtitle">Podtytuł: </label>
        <input type="text" name="subtitle" id="id_subtitle"
               value="{{ paragraph.subtitle }}">
    {% endif %}
    <label for="id_content" class="requiredField">Treść: </label>
    <textarea type="text" name="content" class="{{ mySlug }}" required
              id="id_content">{{ paragraph.content }}</textarea>
    {% if link %}
        <label for="id_link" class="requiredField">Link</label>
        <select name="link" data-title="Select Gender" data-style="btn-default btn-block"
                data-menu-style="dropdown-blue"
                id="id_link">
            {% if paragraph.link != '' %}
                {% for x,y in form.fields.link.choices %}
                    {% if x == paragraph.link %}
                        <option value="{{ x }}">{{ y }}</option>
                    {% endif %}
                {% endfor %}
            {% else %}
                <option>Wybierz odnośnik</option>
            {% endif %}
            {% for x,y in form.fields.link.choices %}
                <option value="{{ x }}"{% if form.fields.link.value == x %} selected{% endif %}>{{ y }}</option>
            {% endfor %}
        </select>
    {% endif %}
<div class="feature-service" >
    <div class="icon" style="margin-top: 30px; max-width: 30px; max-height: 30px; box-shadow: none;">
        <label for="id_image" style="margin: 0">
            <img src="{% static 'core/img/plus.png' %}" alt="" style="max-width: 20px; max-height: 20px; margin: auto;" class="whiteImage">
        </label>
        <input type="file" name="image" required="" id="id_image"
               style="display: none;">
    </div>
    </div>

</form>