{% extends "main/base.html" %}
{%  load static %}
{% block content %}
<!-- Container -->

        <style>
    :root{
        --shadow: 0 11px 9px rgba(129, 127, 127, 0.7);
    }

        .feature {
            max-width: 100%;
        }

        .feature h3 {
            margin-top: 130px;
        }

        .icon {
            margin: auto;
        }
    </style>

<div class="bannerText" style="top:100%; left:22%; min-width: 60%;">


<!-- Counters -->
  <div class="row feature">
      {% for post in post_counters %}
    <h2 class="card-title h1-responsive mb-5 font-bold mx-auto"><strong>{{ post.title }}</strong></h2>
    <p class="mx-5 mb-5 text-lg-center mb-4">{{ post.content }}
    </p>
      {% endfor %}
    <div class=" col-lg-3">
      <div class="counter col_fourth rounded-0 bg-white">
        <div class="icon">
          <i class="fas fa-calendar-alt"></i><br>
        </div>
            <h3 class="timer count-title count-number" data-to="{{ years }}" data-speed="1500"></h3>
        <p class="count-text ">Lata Doświadczenia</p>
      </div>
    </div>
    <div class=" col-lg-3">
      <div class="counter col_fourth rounded-0 bg-white">
        <div class="icon">
          <i class="fas fa-cogs"></i><br>
        </div>
            <h3 class="timer count-title count-number" data-to="500" data-speed="1500"></h3>
        <p class="count-text ">Ukończonych projektów</p>
      </div>
    </div>
    <div class=" col-lg-3">
      <div class="counter col_fourth rounded-0 bg-white">
        <div class="icon">
          <i class="fas fa-user-check"></i><br>
        </div>
            <h3 class="timer count-title count-number" data-to="900" data-speed="1500"></h3>
        <p class="count-text ">Zadowolonych klientów</p>
      </div>
    </div>
    <div class=" col-lg-3">
      <div class="counter col_fourth rounded-0 bg-white">
        <div class="icon">
          <i class="fas fa-shield-alt"></i><br>
        </div>
            <h3 class="timer count-title count-number" data-to="2" data-speed="1500"></h3>
        <p class="count-text ">Lata Gwarancji</p>
      </div>
    </div>

      <hr style="border: 1px solid black;">
  </div>
<!-- .Counters -->


<div class="row feature">
<div class="col-4">
    <img style="left: 22%;" src="{% static 'img/img2.jpg' %}" class="bulb">

</div>
    {% for post in about_main_content %}
        {% if post.id == 1 %}
<div class="col">
          <h2 class="card-title h1-responsive mb-5 font-bold mx-auto"><strong>{{ post.title }}</strong></h2>
    <p class="mx-5 mb-5 text-lg-center mb-4">{{ post.content }}
    </p>
          {% endif %}
{% endfor %}

<div class="row">
    {% for post in about_main_content %}

    {% if post.id > 1 %}

    <h2 class="card-title h1-responsive mb-5 font-bold mx-auto"><strong>{{ post.title }}</strong></h2>
    <p class="mx-5 mb-5 text-lg-center mb-4">{{ post.content }}
    </p>

    {% endif %}
      {% endfor %}


  </div>

  </div>
</div>


</div>

</div>
<!-- .Container -->

{% endblock content %}
