{% load static %}
<!DOCTYPE html>
<html lang="pl">
	<head>
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
		<meta charset="utf-8">
		<title>Hydrotechnika</title>
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

	</head>
    <header>
					<div class="header">
				<p class="logo">Your Logo</p>
				<i class="fa fa-bars x2" onclick="menuToggle()"></i>
				<ul id="navigation">
                    {% if user.is_authenticated %}
                        <li>
						<a href="{% url 'home' %}" name="home" >Strona główna</a>
					</li>
					<li>
						<a href="{% url 'profile' %}" name="profile">Profil</a>
					</li>
					<li>
						<a href="{% url 'post-list' %}" name="post-list">Lista wpisów</a>
					</li>
					<li>
						<a href="{% url 'upload' %}" name="upload">Dodaj Zdjecie</a>
					</li>
                    <li>
						<a href="{% url 'logout' %}" name="logout">Wyloguj</a>
					</li>
                    {% else %}
					<li>
						<a href="{% url 'home' %}" name="home">Strona główna</a>
					</li>
					<li>
						<a href="{% url 'about' %}" name="about">O firmie</a>
					</li>
					<li>
						<a href="{% url 'offer' %}" name="offer">Oferta</a>
					</li>
					<li>
						<a href="{% url 'gallery' %}" name="gallery">Galeria</a>
					</li>
                        <li>
						<a href="#" name="contact">Kontact</a>
					</li>
                    {% endif %}
					<i class="fa fa-times x2" onclick="menuToggle()"></i>
				</ul>
			</div>
	</header>
	<body>
		<div class="open">
			<div class="layer"></div>
			<div class="layer"></div>
		</div>
            {% block content %} {% endblock %}


			  <footer class="site-footer" role="contentinfo">
					<div class="container">
					  <div class="row mb-5 ">
						<div class="col-md-4 text-center">
						  <h4>About Us</h4>
						  <p class="mb-5 text-center">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. .</p>
						</div>
						<div class="col-md-4 text-center bordered">
						  <h4>Contact Info</h4>
						  <ul class="list-unstyled footer-link ">
							<li class="d-block">
							  <span class="d-block">Address:</span>
							  <span >34 Street Name, City Name Here, Poland</span></li>
							<li class="d-block"><span class="d-block">Telephone:</span><span >+1 242 4942 290</span></li>
							<li class="d-block"><span class="d-block">Email:</span><span >info@yourdomain.com</span></li>
						  </ul>
						</div>
						<div class="col-md-4 text-center">
						  <h4>Quick Links</h4>
						  <ul class="list-unstyled footer-link">
							<li><a href="{% url 'home' %}" name="home">Strona główna</a></li>
					        <li><a href="{% url 'about' %}" name="about">O firmie</a></li>
					        <li><a href="{% url 'offer' %}" name="offer">Oferta</a></li>
					        <li><a href="{% url 'gallery' %}" name="gallery">Galeria</a></li>
                            <li><a href="#" name="contact">Kontact</a></li>
						  </ul>
						</div>
					  </div>
					  <div class="footer-copyright text-center" style="margin-top: 150px;"><small style="color: white; float: left; margin-left: 150px;">&copy; Copyright 2019, Hydro-technika</small>
						<small style="color: white; float: right; margin-right: 150px;">Projekt i wykonanie: Michał Parzych</small></a>
					  </div>
					</div>
				  </footer>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="{% static 'js/main.js' %}"></script>
        <script type="text/javascript">


			function menuToggle(){
				const element = document.getElementById("navigation");
				element.classList.toggle("show");
			}
		</script>
	</body>
</html>
