{% extends "main/base.html" %}
{% load static %}
{% block content %}
<div class="bannerText">

			<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
			  <div class="carousel-inner">
		        {% for post in post_carousel %}
                  	    <div class="carousel-item">
                            <h2>{{post.title}}</h2><br>
                            <h3>{{post.subtitle}}</h3>
                            <p>{{post.content}}</p>
                            <a href="{{post.anchor}}">Więcej >></a>
                        </div>
                  {% endfor %}
			  </div>
			</div>
</div>



<div class="my_container my-5 py-5">
    {% for post in post_carousel %}
                    {% if post.id == 1 %}
			<div class=box>
				<div class="imgBx">
					<img src="{% static 'img/img1.jpg' %}">
				</div>

				<div class="content">
					<h3> {{post.title}}</h3>
					<p>{{post.content}}</p>
                    <a href="{{post.anchor}}">Więcej >></a>
				</div>
                    {% elif post.id == 2 %}
            </div>
			<div class=box>
				<div class="imgBx">
					<img src="{% static 'img/img1.jpg' %}">
				</div>
				<div class="content">
					<h3> {{post.title}}</h3>
					<p>{{post.content}}</p>
                    <a href="{{post.anchor}}">Więcej >></a>
				</div>
			</div>
                {% else %}
			<div class=box>
				<div class="imgBx">
					<img src="{% static 'img/img1.jpg' %}">
				</div>
				<div class="content">
					<h3> {{post.title}}</h3>
					<p>{{post.content}}</p>
                    <a href="{{post.anchor}}">Więcej >></a>
				</div>
			</div>
        {% endif %}
			    {% endfor %}

		</div>



		<div class="services">
    <div class="row">
        <div class="col-lg-6">
            <div class="feature " >
                <div class="icon">
                    <i class="fas fa-tags"></i>
                </div>
                <div class="text">
                    <h3>Branding</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                </div>
            </div>

            <div class="feature " >
                <div class="icon">
                    <i class="fas fa-pen"></i>
                </div>
                <div class="text">
                    <h3>Web Design</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                </div>
            </div>

            <div class="feature " >
                <div class="icon">
                    <i class="fas fa-search"></i>
                </div>
                <div class="text">
                    <h3>Search engine optimization</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="feature " >
                <div class="icon">
                    <i class="far fa-paper-plane"></i>
                </div>
                <div class="text">
                    <h3>Web Development</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                </div>
            </div>

            <div class="feature " >
                <div class="icon">
                    <i class="fas fa-desktop"></i>
                </div>
                <div class="text">
                    <h3>User Interface</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                </div>
            </div>

            <div class="feature " >
                <div class="icon">
                    <i class="fas fa-question"></i>
                </div>
                <div class="text">
                    <h3>Help &amp; Support</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                </div>
            </div>
        </div>
    </div>
</div>
			<img src="{% static 'img/bulb.png' %}" class="bulb">
			<div class="element1"></div>
			<div class="element2"></div>
			<div class="element3"></div>
			<div class="element4"></div>
</div>
<!-- .Container -->
{% endblock content %}