{% extends "main/base.html" %}
{%  load static %}
{% block content %}

   <div class="square1"></div>
			<div class="square2"></div>



			<section class="feature-area section_gap_top" style="margin: 150px 0 0 0;">
				<div class="container">
				  <div class="row align-items-center justify-content-center">
					<div class="col-lg-7">



                            <div class="owl-carousel owl-theme">
                                    <div class="row">
                                            <div class="col-12">
                                                    <div class="feature-service " >
                                                        <div class="icon">
                                                                <img src="{% static 'img/o1.png' %}" alt="">
                                                        </div>
                                                        <div class="text">
                                                            <h3>grzejniki</h3>
                                                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                        <div class="feature-service " >
                                                            <div class="icon">
                                                                    <img src="{% static 'img/o3.png' %}" alt="">
                                                            </div>
                                                            <div class="text">
                                                                <h3>Kotły CO</h3>
                                                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                            <div class="feature-service " >
                                                                <div class="icon">
                                                                        <img src="{% static 'img/o2.png' %}" alt="">
                                                                </div>
                                                                <div class="text">
                                                                    <h3>Rury</h3>
                                                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                                <div class="feature-service " >
                                                                    <div class="icon">
                                                                            <img src="{% static 'img/o4.png' %}" alt="">
                                                                    </div>
                                                                    <div class="text">
                                                                        <h3>Anrmatura</h3>
                                                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                                                                    </div>
                                                                </div>
                                                            </div>

                                        </div>
                                        <div class="row">

                                                    <div class="col-12">
                                                            <div class="feature-service " >
                                                                <div class="icon">
                                                                        <img src="{% static 'img/s1.png' %}" alt="">
                                                                </div>
                                                                <div class="text">
                                                                    <h3>instalacji centralnego ogrzewania</h3>
                                                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                                <div class="feature-service " >
                                                                    <div class="icon">
                                                                            <img src="{% static 'img/s2.png' %}" alt="">
                                                                    </div>
                                                                    <div class="text">
                                                                        <h3> instalacji wodno-kanalizacyjnych</h3>
                                                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                    <div class="feature-service " >
                                                                        <div class="icon">
                                                                                <img src="{% static 'img/s3.png' %}" alt="">
                                                                        </div>
                                                                        <div class="text">
                                                                            <h3>instalacji gazowych</h3>
                                                                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-12">
                                                                        <div class="feature-service " >
                                                                            <div class="icon">
                                                                                    <img src="{% static 'img/s4.png' %}" alt="">
                                                                            </div>
                                                                            <div class="text">
                                                                                <h3>wentylacji i klimatyzacji</h3>
                                                                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                            </div>
                                            <div class="row">
                                                    <div class="col-12">
                                                        <div class="feature-service " >
                                                            <div class="icon">
                                                                    <img src="{% static 'img/s5.png' %}" alt="">
                                                            </div>
                                                            <div class="text">
                                                                <h3> doradztwa technicznego</h3>
                                                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                            <div class="feature-service " >
                                                                <div class="icon">
                                                                        <img src="{% static 'img/s8.png' %}" alt="">
                                                                </div>
                                                                <div class="text">
                                                                    <h3>instalacji kolektorów słonecznych</h3>
                                                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                                <div class="feature-service " >
                                                                    <div class="icon">
                                                                            <img src="{% static 'img/s6.png' %}" alt="">
                                                                    </div>
                                                                    <div class="text">
                                                                        <h3>przydomowych oczyszczalni ścieków</h3>
                                                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                    <div class="feature-service " >
                                                                        <div class="icon">
                                                                                <img src="{% static 'img/s7.png' %}" alt="">
                                                                        </div>
                                                                        <div class="text">
                                                                            <h3>robót ziemnych koparko-ładowarką JCB 2CX</h3>
                                                                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                </div>



					</div>

					<div class="col-lg-5 offset-md-0 col-md-12 text-left section-title-wrap mt-4 mt-lg-0">
					  <h3>Oferta Firmy</h3>

					  <h4>If you are looking at blank cassettes on the web lorem ipsum dolor sit consectetur adipisicing elit,
						eiusmod tempor incididunt.</h4>
					  <p>
						If you are looking at blank cassettes on the web lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Eiusmod tempor
						incididunt ut labore et dolore magna aliqua consectetur adipisicing elit, sed do eiusmod tempor incididunt
						ut labore et dolore magna aliqua.
					  </p>
					</div>
				  </div>
				</div>
			  </section>

              <div class="bannerText" style="max-width: 70%; margin: 150px auto;">
                    <h2>Wykonaliśmy między innymi:</h2><br>
                    <p>1. Instalację centralnego ogrzewania w Banku Spółdzielczym w Sandomierzu <br>
                            2. Instalacje sanitarne (c.o., wod-kan, gaz, p.poż) w Hali Sportowej przy Zespole Szkół Nr 1 w Nowej Dębie<br>
                            3. Kotłownię gazową w Budynku Sądu w Sandomierzu<br>
                            4. Instalacje sanitarne w Sali Sportowej z zapleczem przy Szkole Podstawowej w Jadachach<br>
                            5. Instalacje wodno-kanalizacyjne, centralnego ogrzewania oraz przyłącza wody i kanalizacji w powstającym Klasztorze Sióstr Klarysek w Sandomierzu - inwestycja w toku.<br>
                            6. Instalacje w domach jednorodzinnych<br></p>

                </div>

{% endblock content %}