{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <form class="text-center border border-light p-5" autocomplete="off" method="post" novalidate
          style="max-width: 40%; margin: 5% auto;">
        {% csrf_token %}
        <p class="h4 mb-4">Change password</p>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        {{ form }}
        <button type="submit" class="btn btn-teal">Change password</button>
    </form>
{% endblock %}
